@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="row mb-3">
                <label class="col-sm-4" col-form-label>First Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Input.FirstName" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4" col-form-label>Last Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Input.LastName" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4" col-form-label>Email</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Input.Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4" col-form-label>Phone</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Input.PhoneNumber" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-3">
                <label class="col-sm-4" col-form-label>Address</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Input.Address" />
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4" col-form-label>Password</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Input.Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

            </div>

            <div class="row mb-3">
                <label class="col-sm-4" col-form-label>Confirm Password</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Input.ConfirmPassword" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
