@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model LibraryManagementSystem.Models.UserViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }

        .myContainer {
            max-width: 1200px;
            min-height: 300px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        h2 {
            color: #333;
            margin-top: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="myContainer">
        <h2>Welcome, @Model.FirstName @Model.LastName !</h2>
        
        <div class="mainDiv">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="btn btn-primary anchor" href="@Url.Action("List", "Student")">List Books</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary anchor" href="@Url.Action("ListBurrowRecords", "Student")">List Borrow Records</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary anchor" href="@Url.Action("ListBurrowRecords", "Student")">Return Book</a>
            </li>
           
        </ul>

        </div>
    </div>
</body>
</html>


<style>

    h2{
        align-self:start;
    }

    .anchor{
        width: 200px;
        height: 50px;
    }

    .nav{
        align-items: start;
    }

    .mainDiv{
        margin-top: 80px;
        margin-bottom: 80px;
    }
</style>